<html>
<div class="wrapper">
    

</div>
      Home Page
<br>
<br>



		<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The form
<form class="example" action="/car/search">
  <input type="text" placeholder="Enter Car Name" name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>

    </p> -->

    <!-- {{ range .Data }}

    <div class="item">
        <p><b>name:</b> <a href="/car/{{ .Id }}">{{ .Name }}</a></p>
        <p><b>year:</b> {{ .Year }}</p>
        <p><b>colour:</b> {{ .Colour }}</p>
        <p><b>price:</b> {{ .Price }}</p>


        <div class="buttons">
            <a href="/car/update/{{ .Id }}" class="button">Edit</a>
            <a href="/car/delete/{{ .Id }}" class="button red">Delete</a>
        </div>
    </div>

    {{ end }} -->